.game-field {
    max-width: 600px;
    margin: auto;
    background-color:  lightblue;
    height: 600px;
    padding: 10px;
    
}

.footer {

    max-width: 600px;
    margin: auto;
    background-color:  black;
    color: white;
    height: 100px;
    padding: 10px;

}

.beginer {
    background-color: green
}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    margin-top: 200px;
}